* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --primary-color: #02044a;
  --secondery-color: #25cc88;
  --shadow-color: #9d9fb3;
}

body {
  color: #555;
}

/* mine  */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 0.1rem;
}

.steps ul {
  list-style-type: none;
}

.step {
  padding: 0.5rem 0.8rem;
  margin: 2.2rem 1rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
}

.active {
  background-color: var(--secondery-color);
}

.task {
  margin: 1.8rem 0.5rem;
}

.steps-list {
  position: relative;
}

.step::before {
  content: "";
  height: 3vh;
  position: absolute;
  border-left: 2px dashed #888;
}

/* other */

.body__container {
  display: flex;
}

.left__container {
  width: 35%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  /* border-right: 1px solid #42434e; */
  padding: 1.25rem 0;
  margin-right: 2rem;
  padding-right: 1.8rem;
}

.side__titles {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-right: 0.6rem; */
}

.title__name {
  padding: 0.6rem 0.1rem;
  margin-bottom: 0.25rem;
}

.title__name h3 {
  margin-bottom: 0.2rem;
  color: #ffffff;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.title__name p {
  color: var(--shadow-color);
  font-size: 0.75rem;
}

.progress__bar__container {
  padding-top: 0.6rem;
  /* height: 100%; */
}
.progress__bar__container ul .active {
  background-color: var(--secondery-color);
}

.progress__bar__container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: var(--shadow-color);
  padding: 0.5rem 0.6rem;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #ffffff;
  margin-left: 2rem;
  z-index: 100000;
}

.progress__bar__container ul li::before {
  content: "";
  width: 1px;
  height: 11vh;
  position: absolute;
  background-color: var(--shadow-color);
}

.progress__bar__container ul .active::before {
  content: "";
  width: 1px;
  height: 11vh;
  position: absolute;
  background-color: var(--secondery-color);
  /* z-index: -1; */
}
